USE [HTTD]
GO
/****** Object:  Table [dbo].[NhaTuyenDung]    Script Date: 11/30/2016 14:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaTuyenDung](
	[Ma_NTD] [nchar](10) NULL,
	[Ten_cty] [nchar](10) NULL
) ON [PRIMARY]
GO
